body {
  font-family: vesper-libre;
  color: #1a1a1a;
  line-height: 1.5;
  margin: 0;
}

header, footer {
  background-color: #000;
  color: #fff;
  text-align: center;
}

img {
  width: 100%;
  /*Select the appropriate tag for image
  Set the width to be 100% */
}

header > img {
  width: 100px;
  padding: 8px;
}

main {
  padding: 20px;
}

h1 {
  font-size: 2rem;
  line-height: 1.3;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.news {
  display: inline-block;
  text-transform: uppercase;
  font-size: .85rem;
  border-bottom: 2px #ff3530;

  /* Target the article category 'News' using a class 
  Target the article category 'News' using a class
Change display property to inline-block
Change text to be displayed as uppercase
Set font size to be .85rem
Add border bottom with values 2px solid #ff3530
*/

}

.author, .date, .news, figcaption, h2, .subtitle {
  font-family: open-sans;
}






/*
Select  , sub-title,   
Change font family to Open Sans
Select author and date
Change font size to .85rem
Remove margin bottom by setting it to 0
Select figure
Change margin top and bottom to 1.25em, and left and right to 0. For example margin: 1.25em 0;
Select the caption under the image
Set font size to .75rem
Adjust to use center alignment
Change text color to use #757575
Adjust text style to be italicized
Target the list of nominees
Remove bullets with list-style property
Remove padding on left with 0
Style links to
Use text color #1a1a1a
Have an underline by default
On hover, underline disappears
On hover, color of link changes to #ff3530 */
