body {
  font: "vesper libre";
  color: #1a1a1a;
  line-height: 1.5;
  margin: 0;
}

header, footer {
  background-color: #000;
  color: #fff;
  text-align: center;
}

img {
  width: 100%;
  /*Select the appropriate tag for image
  Set the width to be 100% */
}

header > img {
  width: 100px;
  padding: 8px;
}

main {
  padding: 20px;
}

h1 {
  font-size: 2rem;
  line-height: 1.3;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.news {
  display: inline-block;
  text-transform: uppercase;
  font-size: .85rem;
  border-bottom: 2px #ff3530;

  /* Target the article category 'News' using a class 
  Target the article category 'News' using a class
Change display property to inline-block
Change text to be displayed as uppercase
Set font size to be .85rem
Add border bottom with values 2px solid #ff3530
*/

}

.author, .date, .news, figcaption, h2, .subtitle {
  font: "open sans";
}

.author,.date {
  font-size: .85rem;
  margin-bottom: 0rem;
}

figure {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  margin-left: 0;
  margin-right: 0;
}

figcaption {
  font-size: .75rem;
  text-align: center;
  color: #757575;
  font-style: italic;
}

/*
Target the list of nominees
Remove bullets with list-style property
Remove padding on left with 0 */

.one {
  list-style: none;
  padding-left: 0px;
}



.two {
  list-style: none;
  padding: 0px;
}

.three {
  list-style: none;
  padding: 0px;
}

.four {
  list-style: none;
  padding: 0px;
}

.five {
  list-style: none;
  padding: 0px;
}

.six {
  list-style: none;
  padding: 0px;
}

.seven {
  list-style: none;
  padding: 0px;
}

.eight {
  list-style: none;
  padding: 0px;
}

.nine {
  list-style: none;
  padding: 0px;
}

.ten {
  list-style: none;
  padding: 0px;
}

.eleven {
  list-style: none;
  padding: 0px;
}

.twelve {
  list-style: none;
  padding: 0px;
}

.thirteen {
  list-style: none;
  padding: 0px;
}

.fourteen {
  list-style: none;
  padding: 0px;
}

.fifteen {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: #1a1a1a;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
  color: #ff3530;
}

